@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fira+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
html,body{
    overflow-x: hidden ;
    background-color: #47535B;
    padding: 0;
    height:309vh;
    /* width: 100vw; */
}
footer{
 margin-top: 5rem;
 background-color: rgb(213, 255, 185)  !important;

}
#cat{
  position: absolute;
  margin-left: 45rem;
  margin-top: 7rem;
  width: 40rem;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span{
background: white !important;
}
.navbar{
  position: fixed;
  z-index: 50;
  width: 100%;
  background-color: transparent;
  transition: background-color 200ms linear;
}
.navbar.scrolled {
  background-color: rgb(243, 231, 192) !important;
  transition: background-color 200ms linear;
}
a.nav-link.scrolled{
  color: rgb(96, 149, 151);
  transition: color 200ms linear;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);


}
a.nav-link{
    color: rgb(184, 253, 255);
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
}
a.nav-link:hover{
  color: rgb(77, 123, 126);
}
.navbar-nav{
    /* margin-left: 20rem; */
  margin-left: 11rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Bungee', sans-serif;
    letter-spacing: 2px;
    font-size: 2rem;
}
.nav-item{
    margin-left: 1.5rem;
    
}
#shadow{
    z-index: 2;
    background: rgb(30,38,43);
    background: linear-gradient(180deg, rgba(30,38,43,1) 0%, rgba(30,38,43,1) 33%,rgb(72, 84, 92) 100%);
    width: 100vw;
    height: 50rem;
}
@keyframes gradient { 
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
  }
  #banner-content{
    position: absolute;
    margin-top: -30rem;
    margin-left: 10rem;
    color: white;
    font-family: 'Titillium Web', sans-serif;
  }
  #banner-content>h1{
    color: rgb(213, 255, 185);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  #banner-content>p{
    font-family: 'Mochiy Pop P One';
  }
#zakazi{
    background: linear-gradient(to right, #53df47,#1eabbe, #165ffd);
    color: #fff;
    color: white;
    position: relative;
    z-index: 5;
    margin-left: 10rem;
    width: 11rem;
    height: 3.5rem;
    margin-top: -5rem;
    border-radius: 10%;
    animation: gradient 2.5s ease infinite;
    background-size: 200% 100%;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    -webkit-text-stroke: 0.1px rgb(126, 126, 126);
    font-family: 'Titillium Web', sans-serif;
}
#text{
    color: white;
    width:30rem;
    z-index: 15;
    position: absolute;
    margin-top: -20rem;
    margin-left: 10rem;
    border-left: 1rem solid #00c3ff;
    padding-left: 1rem;
    font-size: 1.3rem;
}
#img1{
  position: absolute;
  margin-top: -35rem;
  margin-left: 50rem;
}
.section_text{
  position: absolute;
  color: white;
  margin-top: 60rem;
  width: 37rem;
  margin-left: 53rem;
  z-index: 20;
  opacity: 0;
  font-size: 1.2rem;
}
.online_img{
  position: absolute;
  margin-top: 55rem;
  margin-left: 10rem;
  transform: scaleX(-1);
}
.zakazi-div{
    z-index: 10;
    margin-top: -10rem;
}
.blob{
  position: absolute;
  margin-top: 52rem;
  width:50rem;
  margin-left: -12rem;
}
#border{
  margin-top: 77rem;
  margin-left: 50rem;
  position: absolute;
  background-color: white;
  width: 0px;
  height: 0.5rem;
}
.animation_div{
  width: 25rem;
  height: 10rem;
  font-weight: bold;
    padding: 2rem;
}
.animation_div:hover{
transform: scale(1.1);
transition: transform 1s;

}
#center_div{
  background-color: rgb(252, 247, 220);
  width: 30rem;
  height: 30rem;
  left: 0; 
  right: 0; 
  top: 0;
  bottom: 0;
  margin-top: 60rem;
  margin-bottom: auto;
  margin-left: auto; 
  margin-right: auto;
  padding: 2rem; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  position: absolute;
}
  #section .animation_div1{
    background-color: rgb(255, 224, 224);
    margin-left: -20rem;
    height: 25rem;
  }
  #section{
    position: absolute;
  top: 0;
  left: 0;
  
  }

.nucleus-text{
    border-top: 2px solid rgb(212, 212, 212);
    height: 80vh;
    width: 80rem;
    margin: auto;
    margin-top: 50rem;
    overflow: hidden;
    background-color: white;
}

.nucleus-text>h1{
    margin-top: 2rem;
    margin-left: 10rem;
    border-left: 1rem solid #77bd8e;
    border-right: 1rem solid #77bd8e;
    width: 20.7rem;
    padding-left: 1rem;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    font-family: 'Titillium Web', sans-serif;

}
.nucleus-text>div{
    /* margin-top: 5rem; */
    margin-left: 10rem;
}
.nucleus-text>div>p{
    width: 45rem;
    text-align: left;
    font-size: 1.2rem;
}
.lastSlide{
  height: 50vh;
}
.logo{
    width: 10rem;
    position: absolute;
    z-index: 10;
    margin-left: 80rem;
}
.nucleus-text>.gallery-container{
  display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 1rem;
}
.nucleus-text>.gallery-container>.gallery{
    margin-top: 1rem;
}
.nucleus-text>.gallery-container>.gallery>img{
    width: 15rem;
}


/* radio btn */
.wrapper {
    margin: 100px 0;
  }
  .toggle_radio{
    position: relative;
    background: rgb(255, 200, 184);
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 32px;
    width: 410px;
  }
  .toggle_radio > * {
    float: left;
  }
  .toggle_radio input[type=radio]{
    display: none;
    width: 1rem;
    /*position: fixed;*/
  }
  .toggle_radio label{

    text-transform: uppercase;
    font-weight: bold;
    font: 1rem "Fira Sans";
    color: rgba(0, 0, 0, 0.9);
    z-index: 0;
    display: block;
    width: 122px;
    height: 20px;
    margin: 3px 3px;
    padding-left: 5px;
    padding-top: 2px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
  }
  .toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    margin-left: 1rem;
    width: 140px;
    height: 60px;
    position: absolute;
    top: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
  }
  
  #first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: -3px;
  }
  #second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 109px;
  }
  #third_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 225px;

  }
  .disableBtn{
    pointer-events: none;
    color: gray;
  }

/* #form{
  background: linear-gradient(to right, #df6a0b, #fd9916);
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding: 3rem;
  border: none;
  border-radius: 2%;
}
#form>.form-group>input[type=text]{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
}
#form>.form-group>label:nth-child(1){
  display: flex;
  justify-content: center;
} */
#particles-js{
  position: absolute;
  width: 100vw;
  height: 47rem;

}